<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Busca por título</mat-label>
      <input type="text"
             placeholder="Ej.: Sunt"
             aria-label="String"
             matInput
             [formControl]="postControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let option of filteredPost | async" [value]="option" (click)="onSendFilterValue(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  