.detail-navigate
    display: flex
    gap: 10px
    margin: 20px 0
    justify-content: center

    &_links
        width: 115px
        height: 30px
        text-decoration: none
        color: rgb(255, 255, 255)
        background-color: rgb(131,153,164)
        font-size: 18px
        border-radius: 5px
        display: flex
        align-items: center
        justify-content: center