<div mat-dialog-content class="form">
    <mat-form-field>
        <mat-label>Antigua contraseña</mat-label>
        <input matInput class="form-input" [(ngModel)]="data.oldPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nueva contraseña</mat-label>
        <input matInput class="form-input" [(ngModel)]="data.newPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Repetir nueva contraseña</mat-label>
        <input matInput class="form-input" [(ngModel)]="data.repeatNewPassword">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.newPassword" cdkFocusInitial>Guardar</button>
    <button mat-button (click)="onNoClick()">Cerrar</button>
</div>