<h2 class="selected-details-title">TUS DETALLES</h2>
<app-filter-selected-details (sendPost)="handleEvent($event)"></app-filter-selected-details>
<button [disabled]="!idRow" mat-fab color="accent" aria-label="Button with a delete icon" (click)="onDeleteRow(idRow)">
    <mat-icon>delete</mat-icon>
</button>
<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="idRow">
    <ul *ngIf="renderSelectedRows">
        <li>
            <mat-radio-button class="example-radio-button" *ngFor="let row of renderSelectedRows" [value]="row.id" >
                <p class="selected-details-item"><span class="selected-details-label">ID:</span> {{ row.id }}</p>
                <p class="selected-details-item"><span class="selected-details-label">Título:</span> {{ row.title }}</p>
                <p class="selected-details-item"><span class="selected-details-label">Cuerpo:</span> {{ row.body }}</p>   
                <br>
            </mat-radio-button> 
        </li>
    </ul>
    <h2 *ngIf="renderSelectedRows.length === 0">No existen coincidencias</h2>
</mat-radio-group>