<form [formGroup]="profileForm" class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label class="input" > Introduce tu email</mat-label>
        <input type="email" matInput formControlName="email" required class="input" placeholder="Ej.: clima@sanz.com">
        <mat-error *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">
            <span *ngIf="profileForm.get('email')?.errors?.['required']">El email es requerido.</span>
            <span *ngIf="profileForm.get('email')?.errors?.['email']">El email no es válido.</span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label > Introduce tu contraseña</mat-label>
        <input type="password" matInput formControlName="password" required class="input" placeholder="Ej.:12345678">
        <mat-error *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched">
            <span *ngIf="profileForm.get('password')?.errors?.['required']">La contraseña es requerida.</span>
            <span *ngIf="profileForm.get('password')?.errors?.['minLenght']">La contraseña no es válida.</span>
        </mat-error>
    </mat-form-field>
</form>


<button class="button" routerLink='/layout' [disabled]='profileForm.invalid' (click)="login()">Login</button>
<button class="button" routerLink='/credentials/new-profile'>Crear un nuevo perfil</button>
