<header class="header">
    <h1 class="header-title">{{title}}</h1>
    <nav class="header-menu">
        <a class='header-menu_links' routerLink="/dashboard" [class.selected]="'dashboard' === selectedRoute">Dashboard</a>
        <a class='header-menu_links' routerLink="/heroes" [class.selected]="'heroes' === selectedRoute">Heroes</a>
        <a class='header-menu_links' routerLink="/main" [class.selected]="'main' === selectedRoute">Main</a>
        <a class='header-menu_links' routerLink="/credentials" [class.selected]="'credentials' === selectedRoute">Credentials</a>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>