<form [formGroup] = "newProfile"  class="new-profile-form">
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type='text' matInput formControlName = 'name'>
        <mat-error *ngIf="newProfile.get('name')?.errors?.['required']">El nombre es requerido</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Apellidos</mat-label>
        <input type='text' matInput formControlName = 'lastName'>
        <mat-error *ngIf="newProfile.get('lastName')?.errors?.['required']">El apellido es requerido</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input id='email' name="email" type='email' matInput formControlName = 'email'>
        <mat-error *ngIf="newProfile.get('email')?.errors?.['required']">El email es requerido</mat-error>
        <mat-error *ngIf="newProfile.get('email')?.errors?.['email']">El email no es válido.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type='password' matInput formControlName = 'password'>
        <mat-error *ngIf="newProfile.get('password')?.errors?.['required']">La contraseña es requerida.</mat-error>
        <mat-error *ngIf="newProfile.get('password')?.errors?.['password']">La contraseña no es válida.</mat-error>
    </mat-form-field>
</form>
<button class="button" routerLink="/credentials"  [disabled]='newProfile.invalid' (click)="onSave()">Validar</button>