<nav class="layout-navigate">
    <a class='layout-navigate_links' routerLink="dashboard" [class.selected]="'dashboard' === selectedRoute">Dashboard</a>
    <a class='layout-navigate_links' routerLink="heroes" [class.selected]="'heroes' === selectedRoute">Heroes</a>
    <a class='layout-navigate_links' routerLink="list" [class.selected]="'list' === selectedRoute">Lista</a>
    <a class='layout-navigate_links' routerLink="main" [class.selected]="'main' === selectedRoute">Configuración</a>
</nav>

<router-outlet></router-outlet>

<button  class='btn-logout' (click)="logout()">Cerrar sesión</button>