<nav class="layout-navigate">
    <a class='layout-navigate_links' routerLink="dashboard" [class.selected]="'dashboard' === selectedRoute">Dashboard</a>
    <a class='layout-navigate_links' routerLink="heroes" [class.selected]="'heroes' === selectedRoute">Heroes</a>
    <a class='layout-navigate_links' routerLink="post" [class.selected]="'list' === selectedRoute">Lista</a>
    <a class='layout-navigate_links' routerLink="vehicle" [class.selected]="'vehicle' === selectedRoute">Vehículos</a>
    <a class='layout-navigate_links' routerLink="main" [class.selected]="'main' === selectedRoute">Configuración</a>

    <button  class='btn-logout' (click)="logout()">Cerrar sesión</button>
</nav>


<router-outlet></router-outlet>
