<form class="form">
    <label for="username"> Introduce tu usuario</label>
    <input class="form-input" id="username" type="text">
    <label for="password"> Introduce tu contraseña</label>
    <input class="form-input" id="password" type="text">
</form>
<button  class="form-button" [class.selected]="'edit-profile' === selectedRoute" routerLink="edit-profile">Editar perfil</button>
<button  class="form-button" [class.selected]="'change-password' === selectedRoute" routerLink="change-password">Cambiar contraseña</button>

<router-outlet></router-outlet>