<section class="section-heroes">
    <section class="heroes">
        <h2 class="heroes-title">My Heroes</h2>
        <ul class="heroes-list">
            <li class="heroes-list_item" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
                <span class="item-badge">{{hero.id}}</span>
                <span class="item-name">{{hero.name}}</span>
                <i class="fa-regular fa-rectangle-xmark item-icon"></i>
            </li>
        </ul>
    </section>

    <app-messages class="message-detail" [selectedHero]="selectedHero"></app-messages>

    <app-new-hero class="new-hero"></app-new-hero>
</section>