.section-heroes
  grid-row: 2/3

.heroes
  
  &-title
    font-size:20px

  &-list
    list-style-type: none
    padding: 0
    width: 15em
    display: flex
    flex-direction: column

    &_item
      text-decoration: none
      cursor: pointer
      position: relative
      left: 0
      background-color: #EEE
      margin: .5em
      height: 2.5em
      border-radius: 4px
      color: rgb(148,148,148)
      display: flex
      align-items: center

      &:hover 
        color: #607D8B
        background-color: #DDD
        left: .1em

.item
  &-badge
    display: inline-block
    font-size: 18px
    color: white
    padding: 0.6em 0.7em 0 0.7em
    background-color: #607D8B
    height: 100%
    margin-right: .8em
    border-radius: 4px 0 0 4px
  
  &-name
    font-size: 18px

  &-icon
    position: absolute
    right: 0
    top: 0
    font-size: 26px
    color: grey

.heroes-list_item:hover .item-icon
  color: rgb(6, 92, 64)

.selected 
  background-color: #CFD8DC !important
  color: white  
  
  &:hover
    background-color: #BBD8DC !important
    color: white  


@media (min-width:768px)
  .section-heroes
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr 
    align-items: center
  
  .heroes
    grid-column: 1/2
    grid-row: 1/3
  
  .message-detail
    grid-column: 2/3
    grid-row:2/3
  
  .new-hero
    grid-column: 2/3
    grid-row: 1/2

  .item-icon
    font-size: 25px

@media (min-width:1024px)
  
  .section-heroes
    grid-template-columns: 2fr 1fr

  .heroes-list
    width: 90%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: repeat(auto-fit,minmax(30px,1fr))